@font-face {
    font-family: Akrobat;
	src: url('font/akrobat/Akrobat-SemiBold.otf') format('truetype');
}

@font-face {
    font-family: Pt Sans;
	src: url('font/ptSans/PTC55F.ttf') format('truetype');
}

@font-face {
    font-family: sansation;
	src: url('font/sansation/Sansation_Light.ttf') format('truetype');
}

@font-face {
    font-family: coronet;
	src: url('font/coronet/coronet.ttf') format('truetype');
}

@font-face {
    font-family: painterStyle;
	src: url('font/letitbe/Let-it-Be-Personal-Use.ttf') format('truetype');
}

@font-face {
    font-family: Ornamental;
	src: url('font/Ornamental/Ornamental.ttf') format('truetype');
}

@font-face {
    font-family: CastroScript;
	src: url('font/CastroScript/CastroScript.ttf') format('truetype');
}

@font-face {
    font-family: declara;
	src: url('font/declara/declara.ttf') format('truetype');
}


@font-face {
    font-family: gravity;
	src: url('font/gravity/Gravity-Book.ttf') format('truetype');
}

@font-face {
    font-family: glass;
	src: url('font/glass/GlassAntiqua-Regular.ttf') format('truetype');
}

@font-face {
    font-family: MotionPicture;
	src: url('font/MotionPicture/MotionPicture_PersonalUseOnly.ttf') format('truetype');
}

.fontMotionPicture{font-family:MotionPicture}
.fontGlass{font-family:glass;}
.fontAkrobat{font-family:Akrobat}
.fontArial{font-family:Arial}
.fontPtSans{font-family:Pt Sans}
.fontPainter{font-family:painterStyle}
.fontOrnamental{font-family:Ornamental;}
.fontCastroScript{font-family:CastroScript;}
.fontDeclara{font-family:declara;}
.fontCoronet{font-family:coronet;}
.fontGravity{font-family:gravity;}
.fontSansation{font-family:sansation;}
